table{
    height: 300px;
}
input{
    width: 100%;
    height: 35px;
    border: 2px solid black;
    font-size: 18px;
}
textarea{
    width: 100%;
    height: 80px;
}
input[type=button]{
    background-color:rgb(218, 207, 207);
    color: black;
}
input[type=button]:hover{
    background-color: green;
}